<!DOCTYPE html>
<html lang="en" ng-app="weatherModule">
<head>
  <meta charset="UTF-8">
  <title></title>
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
<!-- endbower -->

<!-- inject:css -->
<link rel="stylesheet" href="/app/styles/styles.css">
<!-- endinject -->
</head>
<!-- creating the controller -->
<body ng-controller="weatherController as vm">
<div class="container">
	<div class="well">
		<h1>Origin Weather Application</h1>
		<h4>Always know if you'll need an umbrella!</h4>
	</div>
	<div class="row">
		<div class="buttons">
			<div class="btn-group" role="group">
				<!-- Each button passes a predetermined place to the API -->
				<button type="button" class="btn btn-primary" ng-click="vm.showWeather('San Diego')">San Diego</button>
				<button type="button" class="btn btn-primary" ng-click="vm.showWeather('New York')">New York</button>
				<button type="button" class="btn btn-primary" ng-click="vm.showWeather('Washingto D.C.')">Washington D.C.</button>
				<button type="button" class="btn btn-primary" ng-click="vm.showWeather('London')">London</button>
				<button type="button" class="btn btn-primary" ng-click="vm.showWeather('Tokyo')">Tokyo</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<div class="col-sm-11">
				<!-- Adding in the user input -->
				<input type="text" 
					class="form-control" 
					ng-model="vm.placeInput"
					ng-minlength="3" 
					required>
			</div>
			<button type="button" class="btn btn-default" ng-click="vm.showWeather(vm.placeInput)">GO!</button>
		</div>
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-primary">
					<div class="panel-heading">City Information</div>
					<!-- This is where the weather will be displayed -->
					<div class="panel-body" ng-hide="vm.name === ''">
						<h2 class="text-center"><img ng-src='http://openweathermap.org/img/w/{{vm.icon}}.png' alt="Current weather is: {{vm.desc}}" style="width:15%;height:15%">{{vm.name}}</h2>
						<h4 class="text-center">Lat/Long: {{vm.lat}}, {{vm.long}}</h4>
						<legend></legend>
						<p id="temp">Temperature (F): {{vm.temp}}</p>
						<p id="pressure">Pressure: {{vm.pressure}}</p>
						<p id="humidity">Humidity: {{vm.humid}}</p>
						<p id="low">Lowest Temp (F): {{vm.low}}</p>
						<p id="high">Highest Temp (F): {{vm.high}}</p>
						<p id="speed">Wind Speed: {{vm.speed}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-primary">
					<div class="panel-heading">Search History</div>
					<div class="panel-body" ng-hide="vm.name === ''">
						<table class="table table-striped">
							<!-- The table history will be shown here -->
							<tr ng-repeat="info in vm.history">
								<td ng-show="!$first">{{info.place}}</td>
								<td class="text-right" ng-show="!$first">{{info.dt}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<!-- endbower -->
<!-- inject:js -->
<script src="/app/app.js"></script>
<script src="/app/controller.js"></script>
<script src="/app/factory.js"></script>
<!-- endinject -->
</body>
</html>

<!-- comments by JKL: well formatted, easy to understand code. Good use of toastr. Recommendation: add more detailed comments that another user would be able to pick up where you left off if necessary -->
<!-- comments by BL: Nice clean code, Recommendation: same as above -->
<!-- comments by VK: Great example of well organized code! Excellent layout, very organized, easy to follow. Highlights Toaster functionality as a bonus. Recommendation: Stick with the same format. No change necessary. -->